doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src="http://cdn.peerjs.com/0.3/peer.js")
    script(type='text/javascript' src="https://unpkg.com/react@15/dist/react.min.js")
    script(type='text/javascript' src="https://unpkg.com/react-dom@15/dist/react-dom.min.js")

  body
    block content
